
.nav {
    background-color: #2e4e91;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background-color: #2e4e91;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 15px 30px;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.dropdown {
    float: left;
    overflow: hidden;
    font-family: sans-serif;
}

.dropdown .dropbtn {
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdown-content a:hover {
    background-color: #c5c5c5;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content:hover {
    display: block;
}

button:hover {
    background-color: #345bad;
}






