<div class="feedback">
    <form [formGroup]="feedbackForm">
        <label for="name">Имя:</label>
        <input type="text" formControlName="name" id="name">
        <label for="message">Комментарий:</label>
        <textarea formControlName="message" id="message"></textarea>
        <button type="submit" (click)="submit()">Отправить</button>
    </form>
</div>

<div *ngIf="feedback" class="savedFeedback">
    <div class="textfield">
        <p><b>Имя:</b> {{feedback.name}}</p>
        <p><b>Комментарий:</b> {{feedback.message}}</p>
    </div>
    
    <button class="delete-btn" (click)="delete()">Удалить</button>
</div>

