.search-form {
    width: 15%;
    display: block;
    margin: 25px auto;
}

.search-form input {
    width: 100%;
    padding: 12px 12px;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5%;
}

.container h2 {
    text-align: center;
}

.cards {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    font-family: sans-serif;
}

.card {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
    transition: 300ms;
}

.card img {
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    min-height: 274px;
}

.card h4 {
    margin: 5px 5px;
}

.card p {
    margin: 0;
    padding: 10px;
}

.card p svg {
    padding-right: 5px;
}