<!-- <h1>{{title}}</h1>
<p>Fullname: {{fullName}}</p>


<div>
    <label>Full Name</label>
    <input type="text" [value]="fullName">
</div>
<div>
    <label>Full Name</label>
    <input type="text" [attr.value] ="fullName">
</div>

 <img [src]="imageUrl" alt=""> 

<hr>

<div>
    <p>Counter: {{counter}}</p>
    <button (click)="increase($event)">Count</button>
</div>

<hr>

<div>
    <label>Username: </label>
    <input type="text" ([ngModel])="username">
    <p>USERNAME: {{username}}</p>
</div> -->

<!-- <div class="box" [class.redBox]="isRedBox"></div>

<div class="box" [class.redBox]="!isRedBox"></div>

<input type="checkbox" [(ngModel)]="isRedBox">  -->

<!-- <div [ngClass]="ourClasses"></div>

<div>
    <input type="checkbox" [(ngModel)]="isBox"> toggle Box
</div>

<div>
    <input type="checkbox" [(ngModel)]="isRedBox"> toggle Red Box
</div> -->

<h1>ngIf</h1>

<div class="box" *ngIf="isBox"></div>
<button (click)="isBox = !isBox">Click</button>

<hr>

<h1>ngFor</h1>
<div *ngFor="let post of posts">
    <h4>Name: {{post.name}}</h4>
    <p>Text: {{post.text}}</p>
</div>

<hr>

<h1>ngSwitch</h1>

<button (click)="browser = 'opera'">Opera</button>
<button (click)="browser = 'chrome'">Chrome</button>
<button (click)="browser = 'firefox'">Firefox</button>
<button (click)="browser = 'safari'">Safari</button>

<div [ngSwitch]="browser">
    <div *ngSwitchCase="'opera'">
        Hello Opera!
    </div>
    <div *ngSwitchCase="'chrome'">
        Hello Chrome!
    </div>
    <div *ngSwitchCase="'firefox'">
        Hello Firefox!
    </div>
    <div *ngSwitchDefault>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore molestias optio consequatur, placeat sequi ipsa aspernatur quisquam enim reprehenderit eius neque hic doloribus provident sunt at, magnam pariatur autem modi.
    </div>
</div>

