.todo-item {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #111;
    font-size: 20px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    margin-left: 10px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.delete-btn {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}